@charset "UTF-8";
@font-face {
  font-family: Geometria Extrabold;
  src: url("../fonts/Geometria-ExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: Geometria Bold;
  src: url("../fonts/Geometria-Bold.ttf") format("truetype"); }
@font-face {
  font-family: Geometria Heavy;
  src: url("../fonts/Geometria-Heavy.ttf") format("truetype"); }
@font-face {
  font-family: Geometria;
  src: url("../fonts/Geometria Regular.ttf") format("truetype"); }
@font-face {
  font-family: Gilroy Light;
  src: url("../fonts/Radomir Tinkov - Gilroy-Light.otf") format("opentype"); }
@font-face {
  font-family: Gilroy Extrabold;
  src: url("../fonts/Radomir Tinkov - Gilroy-ExtraBold.otf") format("opentype"); }
/* line 31, main.scss */
body {
  position: relative; }

/* line 35, main.scss */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #191919; }

/* line 42, main.scss */
.container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  min-height: 100vh;
  position: relative; }
  /* line 50, main.scss */
  .container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 21%;
    height: 100%;
    background: #191919; }

/* line 62, main.scss */
.top-h {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  background: #2f2f2f;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  /* line 75, main.scss */
  .top-h__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 79, main.scss */
    .top-h__logo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  /* line 86, main.scss */
  .top-h__burger {
    width: 15px;
    height: 15px;
    display: block; }
    /* line 91, main.scss */
    .top-h__burger img {
      display: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

/* line 99, main.scss */
.block-slid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: #191919;
  z-index: 20; }
  /* line 112, main.scss */
  .block-slid__link {
    position: absolute;
    top: 35px;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px; }
    /* line 120, main.scss */
    .block-slid__link img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  /* line 127, main.scss */
  .block-slid .block-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    /* line 132, main.scss */
    .block-slid .block-dots__link {
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #fff;
      margin-bottom: 30px;
      position: relative; }
      /* line 141, main.scss */
      .block-slid .block-dots__link::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ffbc19;
        -webkit-box-shadow: 0 0 16px 0px rgba(255, 188, 25, 0.6);
                box-shadow: 0 0 16px 0px rgba(255, 188, 25, 0.6);
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 50%;
        margin-left: -10px;
        opacity: 0;
        -webkit-transition: .2s;
        transition: .2s; }
    /* line 156, main.scss */
    .block-slid .block-dots__link:last-child {
      margin-bottom: 0; }
    /* line 159, main.scss */
    .block-slid .block-dots__link:hover::before {
      opacity: 1; }
  /* line 164, main.scss */
  .block-slid .block-dots.four {
    padding-top: 150px; }

/* line 169, main.scss */
.menu-block {
  width: 620px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -1000px;
  z-index: 30;
  background: #191919;
  padding-top: 100px;
  padding-left: 100px;
  -webkit-transition: .5s;
  transition: .5s; }
  /* line 181, main.scss */
  .menu-block__close {
    position: absolute;
    top: 35px;
    right: 35px; }
  /* line 187, main.scss */
  .menu-block__title {
    color: #fff;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 35px;
    font-family: Gilroy Extrabold;
    text-transform: uppercase; }
  /* line 196, main.scss */
  .menu-block .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    /* line 200, main.scss */
    .menu-block .main-menu__item {
      margin-bottom: 25px;
      list-style-type: none; }
    /* line 204, main.scss */
    .menu-block .main-menu__item:last-child {
      margin-bottom: 0; }
    /* line 207, main.scss */
    .menu-block .main-menu__link {
      font-size: 18px;
      line-height: 24px;
      font-family: Gilroy Light;
      color: #fff;
      -webkit-transition: .3s;
      transition: .3s;
      text-decoration: none;
      position: relative;
      padding-left: 25px; }
      /* line 217, main.scss */
      .menu-block .main-menu__link::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: .3s;
        transition: .3s; }
    /* line 230, main.scss */
    .menu-block .main-menu__link:hover {
      color: #ffbc19; }
    /* line 233, main.scss */
    .menu-block .main-menu__link:hover::before {
      background: #ffbc19; }

/* line 242, main.scss */
.main-section_direction{
  position: relative;
  background: url(../img/bg-direction.png) no-repeat center;
  background-size: cover; 
}
 .main-section_direction::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
.main-section {
  position: relative;
  background: url(../img/bg-Inter-Shop.png) no-repeat center;
  background-size: cover; }
  /* line 247, main.scss */
  .main-section .container.main {
    overflow-y: visible;
    height: auto;
    min-height: 100vh; }
  /* line 253, main.scss */
  .main-section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
  /* line 264, main.scss */
  .main-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  /* line 270, main.scss */
  .main-section__header {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 3.5%;
    padding-right: 150px;
    height: 720px; }
  /* line 280, main.scss */
  .main-section__bottom {
    padding: 80px;
    display: -ms-flexbox;
    height: 300px;
    max-width: 1150px;
    margin-left: 190px;
    background: #fff;
    position: relative;
    z-index: 1; }
  .bottom_p{
    font-family: Gilroy-Light;
    font-size: 18px;
    color: #707070;
  }
  
  .lg_text_bottom{
    font-size: 30px;
  }
/* line 289, main.scss */
.block-center.main {
  padding-top: 100px;
  /*кнопка обратной связи*/
  /* конец кнопки звязи */ }
  /* line 294, main.scss */
  .block-center.main .email-bt {
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 8px 10px rgba(255, 255, 255, 0.4);
            box-shadow: 0 8px 10px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    height: 40px;
    text-align: center;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 90px;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-animation: email-an linear 1s infinite;
    animation: email-an linear 1s infinite;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3px;
    padding-left: 3px; }
  /* line 317, main.scss */
  .block-center.main .email-bt .text-call {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 327, main.scss */
    .block-center.main .email-bt .text-call img {
      margin-top: -5px; }
  /* line 332, main.scss */
  .block-center.main .email-bt:hover {
    z-index: 1;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s; }
@-webkit-keyframes email-an {
  0% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2); }
  40% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 12px rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 12px rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2); }
  80% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 20px rgba(255, 255, 255, 0.067);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 20px rgba(255, 255, 255, 0.067); }
  100% {
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0); } }
@keyframes email-an {
  0% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2); }
  40% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 12px rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 12px rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2); }
  80% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 20px rgba(255, 255, 255, 0.067);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 20px rgba(255, 255, 255, 0.067); }
  100% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0); } }
@keyframes opsimple {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes opsimple {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* line 401, main.scss */
.header-left,
.header-right {
  padding-top: 35px;
  padding-bottom: 100px;
  font-family: Gilroy Extrabold; }

/* line 408, main.scss */
.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  /* line 411, main.scss */
  .header-left .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 418, main.scss */
  .header-left .soc-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    /* line 422, main.scss */
    .header-left .soc-block__link {
      margin-bottom: 35px; }
    /* line 425, main.scss */
    .header-left .soc-block__link:last-child {
      margin-bottom: 0; }
  /* line 430, main.scss */
  .header-left .block-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 130px;
    position: absolute; }
    /* line 437, main.scss */
    .header-left .block-center__title {
      font-size: 72px;
      line-height: 200px;
      text-transform: uppercase;
      color: #fff;
      margin-left: -15px;
      margin-bottom: 0; }
    .p_direct{
      font-size: 30px;
    }
    .p_direct.two{
      color: #fff;
      font-size: 18px;
      line-height: 25px;
      max-width: 755px;
      font-family: Gilroy Light;
      text-transform: none;
    }
    .yelow {color: #ffbc19;}
    /* line 445, main.scss */
    .header-left .block-center__text {
      margin-bottom: 35px;
      font-size: 24px;
      line-height: 40px;
      color: #ffbc19;
      text-transform: uppercase; }
    /* line 452, main.scss */
    .header-left .block-center__text.two {
      color: #fff;
      font-size: 18px;
      line-height: 25px;
      max-width: 1060px;
      font-family: Gilroy Light;
      text-transform: none; }
    /* line 460, main.scss */
    .header-left .block-center__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 290px;
      height: 60px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #ffbc19;
      color: #191919;
      text-decoration: none;
      border: 2px solid transparent;
      -webkit-transition: .5s;
      transition: .5s; }
    /* line 472, main.scss */
    .header-left .block-center__link:hover {
      color: inherit;
      border-color: #ffbc19;
      color: #ffbc19;
      background: transparent; }

/* line 481, main.scss */
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 486, main.scss */
  .header-right__tel {
    font-size: 24px;
    line-height: 25px;
    color: #ffbc19;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s; }
  /* line 494, main.scss */
  .header-right__tel:hover {
    color: #ffbc19;
    opacity: .8;
    text-decoration: none; }
  /* line 499, main.scss */
  .header-right__text {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 0; }

/* line 507, main.scss */
.bottom-left {
  width: 25.5%;
  height: 100%; }
  /* line 511, main.scss */
  .bottom-left img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

/* line 518, main.scss */
.bottom-right {
  width: 68.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /*кнопка обратной связи*/
  /* конец кнопки звязи */ }
  /* line 523, main.scss */
  .bottom-right .right-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48%;
    height: 100%;
    position: relative; }
    /* line 531, main.scss */
    .bottom-right .right-item::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -100px;
      right: -1px;
      width: 2px;
      height: 200px;
      z-index: 1;
      background: #d2d2d2; }
    /* line 544, main.scss */
    .bottom-right .right-item__number {
      position: absolute;
      top: 18%;
      left: 45px;
      color: #ffbc19;
      font-size: 72px;
      margin-bottom: 0;
      line-height: 72px;
      font-family: Gilroy Extrabold; }
    /* line 554, main.scss */
    .bottom-right .right-item__number.one {
      top: 21%; }
    /* line 558, main.scss */
    .bottom-right .right-item__text {
      position: relative;
      z-index: 1;
      font-size: 14px;
      line-height: 22px;
      font-family: Geometria;
      max-width: 85%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      margin-bottom: 0; }
      /* line 568, main.scss */
      .bottom-right .right-item__text span {
        font-family: Geometria Heavy; }
  /* line 574, main.scss */
  .bottom-right .right-item:last-child::before {
    display: none; }
  /* line 580, main.scss */
  .bottom-right .email-bt {
    background: #ffbc19;
    border: 2px solid #ffbc19;
    border-radius: 50%;
    -webkit-box-shadow: 0 8px 10px rgba(255, 255, 255, 0.4);
            box-shadow: 0 8px 10px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    height: 40px;
    text-align: center;
    width: 40px;
    position: absolute;
    left: -20px;
    bottom: 50%;
    z-index: 999;
    margin-bottom: -20px;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-animation: email-an linear 1s infinite;
    animation: email-an linear 1s infinite; }
  /* line 598, main.scss */
  .bottom-right .email-bt .text-call {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 608, main.scss */
    .bottom-right .email-bt .text-call img {
      margin-top: -5px; }
  /* line 613, main.scss */
  .bottom-right .email-bt:hover {
    z-index: 1;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s; }
@-webkit-keyframes email-an {
  0% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2); }
  40% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 12px rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 12px rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2); }
  80% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 20px rgba(255, 255, 255, 0.067);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 20px rgba(255, 255, 255, 0.067); }
  100% {
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0); } }
@keyframes email-an {
  0% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2); }
  40% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 12px rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.6), 0 0 0 12px rgba(255, 255, 255, 0.2), 0 0 0 0 rgba(255, 255, 255, 0.2); }
  80% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 20px rgba(255, 255, 255, 0.067);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 20px rgba(255, 255, 255, 0.067); }
  100% {
    -webkit-box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
            box-shadow: 0 6px 8px rgba(255, 255, 255, 0.4), 0 0 0 25px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0); } }
@keyframes opsimple {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes opsimple {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* line 684, main.scss */
.str-two .main-section {
  background: url(../img/main-three.png) no-repeat 100% 0;
  background-size: 80% 100%; }
  /* line 688, main.scss */
  .str-two .main-section__header {
    min-height: 100vh; }
/* line 693, main.scss */
.str-two .container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }
/* line 697, main.scss */
.str-two .header-left,
.str-two .header-right {
  padding-bottom: 0; }
/* line 703, main.scss */
.str-two .header-left .icon-block {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 707, main.scss */
  .str-two .header-left .icon-block__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -24.5px; }
/* line 715, main.scss */
.str-two .header-left .block-center {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  /* line 718, main.scss */
  .str-two .header-left .block-center__block-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px; }
  /* line 723, main.scss */
  .str-two .header-left .block-center__text {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 35px; }
  /* line 728, main.scss */
  .str-two .header-left .block-center__text.two {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    max-width: 750px;
    margin-left: 55px; }
/* line 737, main.scss */
.str-two .header-left .soc-block {
  padding-top: 100px; }
/* line 742, main.scss */
.str-two .slider-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
  height: 720px;
  left: 50%;
  margin-left: -700px;
  position: absolute;
  bottom: 50px;
  z-index: 5; }
  /* line 752, main.scss */
  .str-two .slider-one__block-text {
    width: 40%;
    height: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    position: relative; }
    /* line 762, main.scss */
    .str-two .slider-one__block-text::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
      background: #ffbc19; }
  /* line 773, main.scss */
  .str-two .slider-one__title {
    font-size: 16px;
    line-height: 24px;
    font-family: Gilroy Extrabold;
    text-transform: uppercase;
    width: 400px;
    margin-bottom: 0; }
  /* line 781, main.scss */
  .str-two .slider-one__text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 30px;
    font-family: Geometria;
    max-width: 400px;
    margin-bottom: 0; }
    /* line 788, main.scss */
    .str-two .slider-one__text span {
      font-family: Geometria Heavy; }
  /* line 792, main.scss */
  .str-two .slider-one__text:first-child {
    margin-top: 30px; }
  /* line 795, main.scss */
  .str-two .slider-one__img-block {
    width: 60%;
    height: 100%; }
    /* line 799, main.scss */
    .str-two .slider-one__img-block img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  /* line 807, main.scss */
  .str-two .slider-one .slick-prev,
  .str-two .slider-one .slick-next {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    background: #ffbc19; }
  /* line 815, main.scss */
  .str-two .slider-one .slick-prev {
    left: auto;
    right: 50px;
    top: 100%;
    margin-top: -25px;
    z-index: 20; }
  /* line 823, main.scss */
  .str-two .slider-one .slick-next {
    right: 0;
    top: 100%;
    margin-top: -25px; }
  /* line 829, main.scss */
  .str-two .slider-one .slick-prev {
    background: #fff url(../img/slider-left.png) no-repeat center; }
  /* line 833, main.scss */
  .str-two .slider-one .slick-prev.slick-disabled {
    background: rgba(255, 255, 255, 0.3) url(../img/slider-left.png) no-repeat center;
    width: 50px;
    height: 50px; }
  /* line 839, main.scss */
  .str-two .slider-one .slick-next {
    background: #ffbc19 url(../img/slider-right.png) no-repeat center; }
  /* line 843, main.scss */
  .str-two .slider-one .slick-next.slick-disabled {
    background: rgba(255, 188, 25, 0.3) url(../img/slider-right.png) no-repeat center;
    width: 50px;
    height: 50px; }
/* line 851, main.scss */
.str-two .one-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
/* line 855, main.scss */
.str-two .one-item:focus {
  outline: none; }

/* line 864, main.scss */
.three-str .main-section {
  background: url(../img/main-three.png) no-repeat 100% 0;
  background-size: 80% 100%; }
  /* line 868, main.scss */
  .three-str .main-section__header {
    height: 100%; }
/* line 873, main.scss */
.three-str .header-left,
.three-str .header-right {
  padding-bottom: 0; }
/* line 879, main.scss */
.three-str .header-left .icon-block {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 883, main.scss */
  .three-str .header-left .icon-block__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -24.5px; }
/* line 893, main.scss */
.three-str .soc-block {
  padding-top: 100px; }
/* line 897, main.scss */
.three-str .block-center {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  width: 74%;
  left: 50%;
  margin-left: -37%; }
  /* line 904, main.scss */
  .three-str .block-center__block-text {
    padding-top: 50px;
    margin-bottom: 80px; }
  /* line 908, main.scss */
  .three-str .block-center__text {
    font-size: 30px;
    line-height: 35px; }
  /* line 912, main.scss */
  .three-str .block-center__text.two {
    font-size: 20px;
    margin-bottom: 0;
    max-width: 940px; }
/* line 919, main.scss */
.three-str .number-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px; }
  /* line 924, main.scss */
  .three-str .number-block__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 20px;
    font-family: Gilroy Extrabold; }
  /* line 930, main.scss */
  .three-str .number-block__item:last-child {
    margin-right: 0; }
  /* line 933, main.scss */
  .three-str .number-block__number {
    margin-bottom: 40px;
    font-size: 131px;
    line-height: 131px;
    color: #ffbc19; }
  /* line 939, main.scss */
  .three-str .number-block__text {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 20px; }
/* line 947, main.scss */
.three-str .bonus-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  width: 72%;
  position: relative;
  height: 330px;
  padding-left: 10%; }
  /* line 957, main.scss */
  .three-str .bonus-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 100%;
    background: #ffbc19; }
  /* line 968, main.scss */
  .three-str .bonus-block__title {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
    font-family: Gilroy Extrabold;
    margin-bottom: 0px; }
  /* line 975, main.scss */
  .three-str .bonus-block__text {
    font-size: 18px;
    line-height: 24px;
    font-family: Gilroy Light;
    margin-bottom: 0px;
    margin-top: 20px;
    position: relative;
    padding-left: 20px; }
    /* line 984, main.scss */
    .three-str .bonus-block__text::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: 0;
      width: 10px;
      height: 10px;
      background: #ffbc19;
      border-radius: 50%; }

/* line 1004, main.scss */
.str-two.four .main-section {
  background: url(../img/four-bg.png) no-repeat 100% 0;
  background-size: 80% 100%; }
/* line 1009, main.scss */
.str-two.four .slider-one__text:first-child {
  margin-top: 0; }

/* line 1018, main.scss */
.str-two.five .main-section {
  background: url(../img/five-bg.png) no-repeat 100% 0;
  background-size: 80% 100%; }
/* line 1024, main.scss */
.str-two.five .header-left .soc-block {
  padding-top: 50px; }
/* line 1028, main.scss */
.str-two.five .header-left .block-center {
  position: absolute;
  width: 1440px;
  left: 50%;
  margin-left: -720px; }
  /* line 1033, main.scss */
  .str-two.five .header-left .block-center__text.two {
    max-width: 940px; }
  /* line 1036, main.scss */
  .str-two.five .header-left .block-center__block-text {
    margin-bottom: 90px; }
/* line 1041, main.scss */
.str-two.five .header-left .directions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  /* line 1045, main.scss */
  .str-two.five .header-left .directions-block__item {
    width: 410px;
    height: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
  /* line 1052, main.scss */
  .str-two.five .header-left .directions-block__title {
    position: absolute;
    top: 310px;
    left: -20px;
    height: 80px;
    width: 370px;
    background: #ffbc19;
    font-family: Gilroy Extrabold;
    font-size: 30px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0; }
  /* line 1068, main.scss */
  .str-two.five .header-left .directions-block > img {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover; }
  /* line 1073, main.scss */
  .str-two.five .header-left .directions-block__block-text {
    background: #fff;
    height: 330px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 90px; }
  /* line 1081, main.scss */
  .str-two.five .header-left .directions-block__text {
    font-size: 18px;
    line-height: 34px;
    font-family: Gilroy Light;
    max-width: 290px;
    margin-bottom: 0; }

/* line 1096, main.scss */
.str-two.six .main-section {
  background: url(../img/six-bg.png) no-repeat 100% 0;
  background-size: 80% 100%; }
/* line 1101, main.scss */
.str-two.six .block-center {
  position: absolute;
  width: 1440px;
  left: 50%;
  margin-left: -720px; }
/* line 1108, main.scss */
.str-two.six .news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px; }
  /* line 1113, main.scss */
  .str-two.six .news-block__item {
    position: relative;
    width: 370px;
    height: 580px; }
  /* line 1118, main.scss */
  .str-two.six .news-block__text-block {
    position: absolute;
    width: 100%;
    height: 330px;
    bottom: -90px;
    right: -40px;
    padding-left: 55px;
    background: #fff;
    font-family: Gilroy Extrabold; }
  /* line 1128, main.scss */
  .str-two.six .news-block__date {
    font-size: 14px;
    width: 170px;
    height: 55px;
    background: #ffbc19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -24px;
    margin-bottom: 50px; }
  /* line 1139, main.scss */
  .str-two.six .news-block__title {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 45px;
    max-width: 225px; }
  /* line 1146, main.scss */
  .str-two.six .news-block__text {
    max-width: 230px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 20px;
    font-family: Geometria; }
  /* line 1153, main.scss */
  .str-two.six .news-block__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    color: #ffbc19;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 1159, main.scss */
    .str-two.six .news-block__link img {
      display: block;
      margin-left: 10px; }

/* line 1171, main.scss */
.three-str.seven .main-section {
  background: url(../img/seven-bg.png) no-repeat 100% 0;
  background-size: 80% 100%; }
/* line 1176, main.scss */
.three-str.seven .block-center {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }
/* line 1181, main.scss */
.three-str.seven .bonus-block {
  height: 300px;
  width: 85%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0; }
  /* line 1188, main.scss */
  .three-str.seven .bonus-block::before {
    display: none; }
  /* line 1192, main.scss */
  .three-str.seven .bonus-block__text {
    max-width: 540px; }
    /* line 1194, main.scss */
    .three-str.seven .bonus-block__text::before {
      display: none; }
  /* line 1199, main.scss */
  .three-str.seven .bonus-block__link {
    height: 60px;
    width: 290px;
    background: #ffbc19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #191919;
    font-size: 18px;
    border: 2px solid transparent;
    -webkit-transition: .5s;
    transition: .5s; }
  /* line 1211, main.scss */
  .three-str.seven .bonus-block__link:hover {
    border-color: #ffbc19;
    background: transparent;
    color: #ffbc19;
    text-decoration: none; }
/* line 1220, main.scss */
.three-str.seven .number-block__number {
  font-size: 102px;
  line-height: 102px;
  margin-bottom: 0; }
  /* line 1224, main.scss */
  .three-str.seven .number-block__number span {
    font-size: 48px;
    color: inherit; }

/* line 1237, main.scss */
.three-str.eight .block-center__block-text {
  margin-bottom: 0; }
/* line 1242, main.scss */
.three-str.eight .header-left {
  padding-bottom: 100px; }
/* line 1246, main.scss */
.three-str.eight .main-section {
  background: url(../img/eight-bg.png) no-repeat 100% 0;
  background-size: 80% 100%; }
/* line 1251, main.scss */
.three-str.eight .block-center {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%; }
/* line 1256, main.scss */
.three-str.eight .number-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-top: 50px; }
  /* line 1262, main.scss */
  .three-str.eight .number-block__number {
    margin-right: 40px;
    margin-bottom: 0; }
  /* line 1266, main.scss */
  .three-str.eight .number-block__item {
    margin-right: 0;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 1274, main.scss */
  .three-str.eight .number-block__item:last-child {
    width: 55%; }
  /* line 1277, main.scss */
  .three-str.eight .number-block__text {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase; }
/* line 1284, main.scss */
.three-str.eight .bonus-block {
  height: 240px;
  width: 74%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10; }
  /* line 1296, main.scss */
  .three-str.eight .bonus-block::before {
    display: none; }
  /* line 1300, main.scss */
  .three-str.eight .bonus-block__text {
    max-width: 845px;
    margin-top: 0; }
    /* line 1303, main.scss */
    .three-str.eight .bonus-block__text::before {
      display: none; }
  /* line 1308, main.scss */
  .three-str.eight .bonus-block__link {
    height: 60px;
    width: 290px;
    background: #ffbc19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #191919;
    font-size: 18px;
    border: 2px solid transparent;
    -webkit-transition: .5s;
    transition: .5s;
    font-family: Gilroy Extrabold; }
  /* line 1321, main.scss */
  .three-str.eight .bonus-block__link:hover {
    border-color: #ffbc19;
    background: transparent;
    color: #ffbc19;
    text-decoration: none; }

/* line 1334, main.scss */
.form-str .main-section {
  background: url(../img/form-bg.png) no-repeat 100% 0;
  background-size: 80% 100%; }
/* line 1339, main.scss */
.form-str .block-center {
  position: absolute;
  width: 1440px;
  left: 50%;
  margin-left: -720px; }
  /* line 1345, main.scss */
  .form-str .block-center__block-text {
    padding-top: 50px;
    margin-bottom: 50px; }
/* line 1351, main.scss */
.form-str .form {
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Geometria; }
  /* line 1361, main.scss */
  .form-str .form__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 85px;
    text-transform: uppercase;
    text-align: center;
    font-family: Gilroy Extrabold; }
  /* line 1370, main.scss */
  .form-str .form__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffbc19;
    font-family: Gilroy Extrabold;
    color: #191919;
    text-decoration: none;
    border: 2px solid transparent;
    -webkit-transition: .5s;
    transition: .5s; }
  /* line 1383, main.scss */
  .form-str .form__link:hover {
    color: inherit;
    border-color: #ffbc19;
    color: #ffbc19;
    background: transparent; }
/* line 1391, main.scss */
.form-str .input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 69%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
/* line 1398, main.scss */
.form-str .input-block.first {
  margin-bottom: 80px; }
/* line 1402, main.scss */
.form-str .input-block.two {
  margin-bottom: 50px; }
/* line 1406, main.scss */
.form-str .input-block.three {
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 1410, main.scss */
  .form-str .input-block.three label {
    margin-bottom: 0; }
/* line 1415, main.scss */
.form-str .icon-div {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffbc19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px; }
/* line 1431, main.scss */
.form-str .icon-div.t img {
  margin-bottom: 2px; }
/* line 1436, main.scss */
.form-str .input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  /* line 1440, main.scss */
  .form-str .input-item input {
    width: 200px;
    color: #888;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #bebebe; }
  /* line 1447, main.scss */
  .form-str .input-item input::-webkit-input-placeholder {
    color: #666666; }
  /* line 1448, main.scss */
  .form-str .input-item input::-moz-placeholder {
    color: #666666; }
  /* line 1449, main.scss */
  .form-str .input-item input:-moz-placeholder {
    color: #666666; }
  /* line 1450, main.scss */
  .form-str .input-item input:-ms-input-placeholder {
    color: #666666; }
/* line 1453, main.scss */
.form-str select {
  width: 400px;
  height: 50px;
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  -webkit-appearance: none;
  background: #e4e4e4 url(../img/arrow-bottom.png) no-repeat 97% center;
  font-size: 14px;
  color: #666;
  font-family: Geometria; }
/* line 1468, main.scss */
.form-str option {
  font-size: 14px;
  color: #666; }
/* line 1474, main.scss */
.form-str input[type="checkbox"]:checked,
.form-str input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px; }
/* line 1481, main.scss */
.form-str input[type="checkbox"]:checked + label,
.form-str input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer; }
/* line 1490, main.scss */
.form-str input[type="checkbox"]:checked + label:before,
.form-str input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  background-color: #ffffff; }
/* line 1502, main.scss */
.form-str input[type="checkbox"]:checked + label:before,
.form-str input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 6px; }
/* line 1507, main.scss */
.form-str input[type="checkbox"]:checked + label:after,
.form-str input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute; }
/* line 1513, main.scss */
.form-str input[type="checkbox"]:checked + label:after,
.form-str input[type="checkbox"]:not(:checked) + label:after {
  left: 0px;
  top: 0px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  width: 20px;
  height: 20px; }
/* line 1524, main.scss */
.form-str input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; }
/* line 1528, main.scss */
.form-str input[type="checkbox"]:checked + label:after {
  opacity: 1; }
/* line 1532, main.scss */
.form-str input[type="checkbox"]:checked + label:after,
.form-str input[type="checkbox"]:not(:checked) + label:after,
.form-str input[type="radio"]:checked + label:after,
.form-str input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
/* line 1544, main.scss */
.form-str input[type="checkbox"]:checked + label:after,
.form-str input[type="checkbox"]:not(:checked) + label:after {
  left: 5px;
  top: 6px;
  width: 11px;
  height: 7px;
  border-radius: 1px;
  border-left: 3px solid #ffbc19;
  border-bottom: 3px solid #ffbc19;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
/* line 1560, main.scss */
.form-str input[type="radio"]:checked + label:after,
.form-str input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 6px;
  width: 11px;
  height: 7px;
  border-radius: 100%;
  background-color: #ffbc19; }

  .container_slide{
    display: flex;
  }
  .content_slide{
    background: #fff;
    height: 395px;
    padding: 60px;
    min-width: 400px;
    margin-right: 50px;
    font-family: Gilroy Light;
  }
.slide_text{
  margin-top: 50px;
}